<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rap.mapper.ProjectMapper">

  <insert id="insert" parameterType="com.rap.entity.Project" useGeneratedKeys="true" keyProperty="id">
    insert into detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
      <if test="type != null">
        #{type},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.rap.entity.Project">
  update detail
  <set>
    <if test="name != null">
      `name` = #{name},
    </if>
    <if test="remark != null">
      remark = #{remark},
    </if>
    <if test="type != null">
      `type` = #{type},
    </if>
  </set>
  where id = #{id}
  </update>

  <select id="list" parameterType="String"  resultType="com.rap.entity.Project">
    select * from detail
    <where>
    `type` = 1
    <if test="info != null and info !=''">
      and name like '%${info}%'
    </if>
  </where>
  </select>

  <select id="selectById" parameterType="Integer" resultType="com.rap.entity.Menu">
    select * from detail where id = #{id}
  </select>
</mapper>